* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {

  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

header {
  margin: 0;
  padding: 0;
}

/* This code is for the styling of the naavigation bar */
.main-nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 100vw;
  min-height: 8vh;
  background-color: grey;
  position: fixed;
}

.flip-phone-h2 {
  margin: 0;
  padding: 0;
  align-items: center;
}

ul,
.nav-options {
  display: flex;
  gap: 1rem;
  align-items: center;


}

.nav-options li {
  list-style: none;
}

/* End of navigation syling section*/

/* This section is for the styling of the "Welcom section" */

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-content p {
  display: flex;
  justify-content: center;
  max-width: 33%;

}

.options-section {
  display: flex;
}

.options-section p {
  width: 33%;
  flex-wrap: wrap;
}

footer {
  margin-top: auto;
  min-height: 5vh;
  background-color: grey;
}

.footer-copyright {
  display: flex;
  justify-content: center;
}